.pre-banner{
  background: linear-gradient(120deg, rgba(9,185,38,1) 0%, rgba(5,96,34,1) 80%);
  display: flex ;
}
.pre-logoback{
  height: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
}
.pre-banner h2{
  margin-top: 55px;
  font-size: 46px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-left: 50px;
}
.pre-fieldset fieldset{
  border: 1px solid #dddd;
  border-radius: 7px;
  padding: 20px;
  margin: auto;
  margin-top: 57px;
  width: 60%;
}
.pre-fieldset fieldset legend{
  font-size: 25px;
  font-family: 'Montserrat';
  color: #525151;
}
.pre-fieldset fieldset input{
  font-size: 15px;
  border: 1px solid #dddd;
  border-radius: 7px;
  margin: 10px;
  padding: 7px 6px;
  width: 40%;
  height: 43px;
  color: #666666;
}
.pre-checkbox>div>div>input{
  width: 3%;
  height: 25px;
  position: relative;
  top: 9px;
  margin-top: 20px;
}
.pre-checkbox>div>div>label{
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #666666;
}
.pre-cont-check{
  width: 91%;
  margin: auto;
}
.pre-div-check{
  display: flex;
}
.pre-content-textarea{

}
.pre-content-textarea div:nth-child(1){
  margin-top: 50px;
}
.pre-content-textarea div{
  margin: 30px auto;
  width: 91%;
}
.pre-content-textarea div textarea{
  width: 100%;
  height: 150px;
  border: 1px solid #dddd;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  padding: 15px;
}
.pre-fieldset fieldset input:focus,
.pre-content-textarea div textarea:focus{
  outline: none;
  border: 1px solid #09b926;
}
.pre-btn-send{
  text-align: center;
  text-align: -webkit-center;
}
.pre-btn-send>button{
    width: 240px;
    height: 65px;
    border: none;
    background: #09b926;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    position: relative;
    margin-bottom: 98px;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {
  .pre-banner h2 {
    font-size: 36px;
    margin-left: 24px;
  }
  .pre-logoback {
    margin-left: 49px;
  }
  .pre-fieldset fieldset{
    width: 95%;
  }
  .pre-fieldset fieldset input{
    width: 100%;
  }
}

@media screen and (max-width: 511px) {
  .pre-banner h2 {
    margin-top: 36px;
  }
}