
.carousel{
    top: 3px;
    position: relative;
}

.carousel .slide img {
    height: auto;
}

.thumbs{
    display: none !important;
}

.slide{
    height: auto;
}

/* @media screen and (max-width: 700px) {
    
    .slide{
        height: 300px;
    }

    .carousel .slide img {
        height: 300px;
    }
} */